{% extends "base.html"%}

{% block title %}Major Hub{% endblock %}

{% block content %}
<div class="column side">
    <h2>Home</h2>
    <p>Welcome to Major Hub, a web application designed with the purpose of giving you the economic and workforce related information corresponding to the major(s) of interest to you. 
        For those without a major(s) already in mind, we offer a thorough list of majors that you can filter through that may pique your interest. </p>
</div>
  
<div class="column middle">
    {% include "HomePageGraphs/MajorIndex.html" %}
</div>

       
{% endblock %}