{% extends "base.html"%}
majors = csv.op

{% block title %}Major Hub{% endblock %}

{% block content %}
<div class="column side">
<h2> Select Major </h2>
<label for="major">Select Major:</label>


<!-- name="majordropdown" id="majordropdown" -->
<div>
<form name=majordropdownchange action="major" method="post"> {% csrf_token %}
    <select  name="majordropdown" id="majordropdown">
        <option value="ACCOUNTING">ACCOUNTING</option>
        <option value="ACTUARIAL SCIENCE">ACTUARIAL SCIENCE</option>
        <option value="ADVERTISING AND PUBLIC RELATIONS">ADVERTISING AND PUBLIC RELATIONS</option>
        <option value="AEROSPACE ENGINEERING">AEROSPACE ENGINEERING</option>
        <option value="AGRICULTURAL ECONOMICS">AGRICULTURAL ECONOMICS</option>
        <option value="AGRICULTURE PRODUCTION AND MANAGEMENT">AGRICULTURE PRODUCTION AND MANAGEMENT</option>
        <option value="ANIMAL SCIENCES">ANIMAL SCIENCES</option>
        <option value="ANTHROPOLOGY AND ARCHEOLOGY">ANTHROPOLOGY AND ARCHEOLOGY</option>
        <option value="APPLIED MATHEMATICS">APPLIED MATHEMATICS</option>
        <option value="ARCHITECTURAL ENGINEERING">ARCHITECTURAL ENGINEERING</option>
        <option value="ARCHITECTURE">ARCHITECTURE</option>
        <option value="AREA ETHNIC AND CIVILIZATION STUDIES">AREA ETHNIC AND CIVILIZATION STUDIES</option>
        <option value="ART AND MUSIC EDUCATION">ART AND MUSIC EDUCATION</option>
        <option value="ART HISTORY AND CRITICISM">ART HISTORY AND CRITICISM</option>
        <option value="ASTRONOMY AND ASTROPHYSICS">ASTRONOMY AND ASTROPHYSICS</option>
        <option value="ATMOSPHERIC SCIENCES AND METEOROLOGY">ATMOSPHERIC SCIENCES AND METEOROLOGY</option>
        <option value="BIOCHEMICAL SCIENCES">BIOCHEMICAL SCIENCES</option>
        <option value="BIOLOGICAL ENGINEERING">BIOLOGICAL ENGINEERING</option>
        <option value="BIOLOGY">BIOLOGY</option>
        <option value="BIOMEDICAL ENGINEERING">BIOMEDICAL ENGINEERING</option>
        <option value="BOTANY">BOTANY</option>
        <option value="BUSINESS ECONOMICS">BUSINESS ECONOMICS</option>
        <option value="BUSINESS MANAGEMENT AND ADMINISTRATION">BUSINESS MANAGEMENT AND ADMINISTRATION</option>
        <option value="CHEMICAL ENGINEERING">CHEMICAL ENGINEERING</option>
        <option value="CHEMISTRY">CHEMISTRY</option>
        <option value="CIVIL ENGINEERING">CIVIL ENGINEERING</option>
        <option value="CLINICAL PSYCHOLOGY">CLINICAL PSYCHOLOGY</option>
        <option value="COGNITIVE SCIENCE AND BIOPSYCHOLOGY">COGNITIVE SCIENCE AND BIOPSYCHOLOGY</option>
        <option value="COMMERCIAL ART AND GRAPHIC DESIGN">COMMERCIAL ART AND GRAPHIC DESIGN</option>
        <option value="COMMUNICATION DISORDERS SCIENCES AND SERVICES">COMMUNICATION DISORDERS SCIENCES AND SERVICES</option>
        <option value="COMMUNICATION TECHNOLOGIES">COMMUNICATION TECHNOLOGIES</option>
        <option value="COMMUNICATIONS">COMMUNICATIONS</option>
        <option value="COMMUNITY AND PUBLIC HEALTH">COMMUNITY AND PUBLIC HEALTH</option>
        <option value="COMPOSITION AND RHETORIC">COMPOSITION AND RHETORIC</option>
        <option value="COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY">COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY</option>
        <option value="COMPUTER AND INFORMATION SYSTEMS">COMPUTER AND INFORMATION SYSTEMS</option>
        <option value="COMPUTER ENGINEERING">COMPUTER ENGINEERING</option>
        <option value="COMPUTER NETWORKING AND TELECOMMUNICATIONS">COMPUTER NETWORKING AND TELECOMMUNICATIONS</option>
        <option value="COMPUTER PROGRAMMING AND DATA PROCESSING">COMPUTER PROGRAMMING AND DATA PROCESSING</option>
        <option value="COMPUTER SCIENCE">COMPUTER SCIENCE</option>
        <option value="CONSTRUCTION SERVICES">CONSTRUCTION SERVICES</option>
        <option value="COSMETOLOGY SERVICES AND CULINARY ARTS">COSMETOLOGY SERVICES AND CULINARY ARTS</option>
        <option value="COUNSELING PSYCHOLOGY">COUNSELING PSYCHOLOGY</option>
        <option value="COURT REPORTING">COURT REPORTING</option>
        <option value="CRIMINAL JUSTICE AND FIRE PROTECTION">CRIMINAL JUSTICE AND FIRE PROTECTION</option>
        <option value="CRIMINOLOGY">CRIMINOLOGY</option>
        <option value="DRAMA AND THEATER ARTS">DRAMA AND THEATER ARTS</option>
        <option value="EARLY CHILDHOOD EDUCATION">EARLY CHILDHOOD EDUCATION</option>
        <option value="ECOLOGY">ECOLOGY</option>
        <option value="ECONOMICS">ECONOMICS</option>
        <option value="EDUCATIONAL ADMINISTRATION AND SUPERVISION">EDUCATIONAL ADMINISTRATION AND SUPERVISION</option>
        <option value="EDUCATIONAL PSYCHOLOGY">EDUCATIONAL PSYCHOLOGY</option>
        <option value="ELECTRICAL ENGINEERING">ELECTRICAL ENGINEERING</option>
        <option value="ELECTRICAL ENGINEERING TECHNOLOGY">ELECTRICAL ENGINEERING TECHNOLOGY</option>
        <option value="ELECTRICAL, MECHANICAL, AND PRECISION TECHNOLOGIES AND PRODUCTION">ELECTRICAL, MECHANICAL, AND PRECISION TECHNOLOGIES AND PRODUCTION</option>
        <option value="ELEMENTARY EDUCATION">ELEMENTARY EDUCATION</option>
        <option value="ENGINEERING AND INDUSTRIAL MANAGEMENT">ENGINEERING AND INDUSTRIAL MANAGEMENT</option>
        <option value="ENGINEERING MECHANICS PHYSICS AND SCIENCE">ENGINEERING MECHANICS PHYSICS AND SCIENCE</option>
        <option value="ENGINEERING TECHNOLOGIES">ENGINEERING TECHNOLOGIES</option>
        <option value="ENGLISH LANGUAGE AND LITERATURE">ENGLISH LANGUAGE AND LITERATURE</option>
        <option value="ENVIRONMENTAL ENGINEERING">ENVIRONMENTAL ENGINEERING</option>
        <option value="ENVIRONMENTAL SCIENCE">ENVIRONMENTAL SCIENCE</option>
        <option value="FAMILY AND CONSUMER SCIENCES">FAMILY AND CONSUMER SCIENCES</option>
        <option value="FILM VIDEO AND PHOTOGRAPHIC ARTS">FILM VIDEO AND PHOTOGRAPHIC ARTS</option>
        <option value="FINANCE">FINANCE</option>
        <option value="FINE ARTS">FINE ARTS</option>
        <option value="FOOD SCIENCE">FOOD SCIENCE</option>
        <option value="FORESTRY">FORESTRY</option>
        <option value="FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES">FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES</option>
        <option value="GENERAL AGRICULTURE">GENERAL AGRICULTURE</option>
        <option value="GENERAL BUSINESS">GENERAL BUSINESS</option>
        <option value="GENERAL EDUCATION">GENERAL EDUCATION</option>
        <option value="GENERAL ENGINEERING">GENERAL ENGINEERING</option>
        <option value="GENERAL MEDICAL AND HEALTH SERVICES">GENERAL MEDICAL AND HEALTH SERVICES</option>
        <option value="GENERAL SOCIAL SCIENCES">GENERAL SOCIAL SCIENCES</option>
        <option value="GENETICS">GENETICS</option>
        <option value="GEOGRAPHY">GEOGRAPHY</option>
        <option value="GEOLOGICAL AND GEOPHYSICAL ENGINEERING">GEOLOGICAL AND GEOPHYSICAL ENGINEERING</option>
        <option value="GEOLOGY AND EARTH SCIENCE">GEOLOGY AND EARTH SCIENCE</option>
        <option value="GEOSCIENCES">GEOSCIENCES</option>
        <option value="HEALTH AND MEDICAL ADMINISTRATIVE SERVICES">HEALTH AND MEDICAL ADMINISTRATIVE SERVICES</option>
        <option value="HEALTH AND MEDICAL PREPARATORY PROGRAMS">HEALTH AND MEDICAL PREPARATORY PROGRAMS</option>
        <option value="HISTORY">HISTORY</option>
        <option value="HOSPITALITY MANAGEMENT">HOSPITALITY MANAGEMENT</option>
        <option value="HUMAN RESOURCES AND PERSONNEL MANAGEMENT">HUMAN RESOURCES AND PERSONNEL MANAGEMENT</option>
        <option value="HUMAN SERVICES AND COMMUNITY ORGANIZATION">HUMAN SERVICES AND COMMUNITY ORGANIZATION</option>
        <option value="HUMANITIES">HUMANITIES</option>
        <option value="INDUSTRIAL AND MANUFACTURING ENGINEERING">INDUSTRIAL AND MANUFACTURING ENGINEERING</option>
        <option value="INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY">INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY</option>
        <option value="INDUSTRIAL PRODUCTION TECHNOLOGIES">INDUSTRIAL PRODUCTION TECHNOLOGIES</option>
        <option value="INFORMATION SCIENCES">INFORMATION SCIENCES</option>
        <option value="INTERCULTURAL AND INTERNATIONAL STUDIES">INTERCULTURAL AND INTERNATIONAL STUDIES</option>
        <option value="INTERDISCIPLINARY SOCIAL SCIENCES">INTERDISCIPLINARY SOCIAL SCIENCES</option>
        <option value="INTERNATIONAL BUSINESS">INTERNATIONAL BUSINESS</option>
        <option value="INTERNATIONAL RELATIONS">INTERNATIONAL RELATIONS</option>
        <option value="JOURNALISM">JOURNALISM</option>
        <option value="LANGUAGE AND DRAMA EDUCATION">LANGUAGE AND DRAMA EDUCATION</option>
        <option value="LIBERAL ARTS">LIBERAL ARTS</option>
        <option value="LIBRARY SCIENCE">LIBRARY SCIENCE</option>
        <option value="LINGUISTICS AND COMPARATIVE LANGUAGE AND LITERATURE">LINGUISTICS AND COMPARATIVE LANGUAGE AND LITERATURE</option>
        <option value="MANAGEMENT INFORMATION SYSTEMS AND STATISTICS">MANAGEMENT INFORMATION SYSTEMS AND STATISTICS</option>
        <option value="MARKETING AND MARKETING RESEARCH">MARKETING AND MARKETING RESEARCH</option>
        <option value="MASS MEDIA">MASS MEDIA</option>
        <option value="MATERIALS ENGINEERING AND MATERIALS SCIENCE">MATERIALS ENGINEERING AND MATERIALS SCIENCE</option>
        <option value="MATERIALS SCIENCE">MATERIALS SCIENCE</option>
        <option value="MATHEMATICS">MATHEMATICS</option>
        <option value="MATHEMATICS AND COMPUTER SCIENCE">MATHEMATICS AND COMPUTER SCIENCE</option>
        <option value="MATHEMATICS TEACHER EDUCATION">MATHEMATICS TEACHER EDUCATION</option>
        <option value="MECHANICAL ENGINEERING">MECHANICAL ENGINEERING</option>
        <option value="MECHANICAL ENGINEERING RELATED TECHNOLOGIES">MECHANICAL ENGINEERING RELATED TECHNOLOGIES</option>
        <option value="MEDICAL ASSISTING SERVICES">MEDICAL ASSISTING SERVICES</option>
        <option value="MEDICAL TECHNOLOGIES TECHNICIANS">MEDICAL TECHNOLOGIES TECHNICIANS</option>
        <option value="METALLURGICAL ENGINEERING">METALLURGICAL ENGINEERING</option>
        <option value="MICROBIOLOGY">MICROBIOLOGY</option>
        <option value="MILITARY TECHNOLOGIES">MILITARY TECHNOLOGIES</option>
        <option value="MINING AND MINERAL ENGINEERING">MINING AND MINERAL ENGINEERING</option>
        <option value="MISCELLANEOUS AGRICULTURE">MISCELLANEOUS AGRICULTURE</option>
        <option value="MISCELLANEOUS BIOLOGY">MISCELLANEOUS BIOLOGY</option>
        <option value="MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION">MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION</option>
        <option value="MISCELLANEOUS EDUCATION">MISCELLANEOUS EDUCATION</option>
        <option value="MISCELLANEOUS ENGINEERING">MISCELLANEOUS ENGINEERING</option>
        <option value="MISCELLANEOUS ENGINEERING TECHNOLOGIES">MISCELLANEOUS ENGINEERING TECHNOLOGIES</option>
        <option value="MISCELLANEOUS FINE ARTS">MISCELLANEOUS FINE ARTS</option>
        <option value="MISCELLANEOUS HEALTH MEDICAL PROFESSIONS">MISCELLANEOUS HEALTH MEDICAL PROFESSIONS</option>
        <option value="MISCELLANEOUS PSYCHOLOGY">MISCELLANEOUS PSYCHOLOGY</option>
        <option value="MISCELLANEOUS SOCIAL SCIENCES">MISCELLANEOUS SOCIAL SCIENCES</option>
        <option value="MOLECULAR BIOLOGY">MOLECULAR BIOLOGY</option>
        <option value="MULTI/INTERDISCIPLINARY STUDIES">MULTI/INTERDISCIPLINARY STUDIES</option>
        <option value="MULTI-DISCIPLINARY OR GENERAL SCIENCE">MULTI-DISCIPLINARY OR GENERAL SCIENCE</option>
        <option value="MUSIC">MUSIC</option>
        <option value="NATURAL RESOURCES MANAGEMENT">NATURAL RESOURCES MANAGEMENT</option>
        <option value="NAVAL ARCHITECTURE AND MARINE ENGINEERING">NAVAL ARCHITECTURE AND MARINE ENGINEERING</option>
        <option value="NEUROSCIENCE">NEUROSCIENCE</option>
        <option value="NUCLEAR ENGINEERING">NUCLEAR ENGINEERING</option>
        <option value="NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL TECHNOLOGIES">NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL TECHNOLOGIES</option>
        <option value="NURSING">NURSING</option>
        <option value="NUTRITION SCIENCES">NUTRITION SCIENCES</option>
        <option value="OCEANOGRAPHY">OCEANOGRAPHY</option>
        <option value="OPERATIONS LOGISTICS AND E-COMMERCE">OPERATIONS LOGISTICS AND E-COMMERCE</option>
        <option value="OTHER FOREIGN LANGUAGES">OTHER FOREIGN LANGUAGES</option>
        <option value="PETROLEUM ENGINEERING">PETROLEUM ENGINEERING</option>
        <option value="PHARMACOLOGY">PHARMACOLOGY</option>
        <option value="PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION">PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION</option>
        <option value="PHILOSOPHY AND RELIGIOUS STUDIES">PHILOSOPHY AND RELIGIOUS STUDIES</option>
        <option value="PHYSICAL AND HEALTH EDUCATION TEACHING">PHYSICAL AND HEALTH EDUCATION TEACHING</option>
        <option value="PHYSICAL FITNESS PARKS RECREATION AND LEISURE">PHYSICAL FITNESS PARKS RECREATION AND LEISURE</option>
        <option value="PHYSICAL SCIENCES">PHYSICAL SCIENCES</option>
        <option value="PHYSICS">PHYSICS</option>
        <option value="PHYSIOLOGY">PHYSIOLOGY</option>
        <option value="PLANT SCIENCE AND AGRONOMY">PLANT SCIENCE AND AGRONOMY</option>
        <option value="POLITICAL SCIENCE AND GOVERNMENT">POLITICAL SCIENCE AND GOVERNMENT</option>
        <option value="PRE-LAW AND LEGAL STUDIES">PRE-LAW AND LEGAL STUDIES</option>
        <option value="PSYCHOLOGY">PSYCHOLOGY</option>
        <option value="PUBLIC ADMINISTRATION">PUBLIC ADMINISTRATION</option>
        <option value="PUBLIC POLICY">PUBLIC POLICY</option>
        <option value="SCHOOL STUDENT COUNSELING">SCHOOL STUDENT COUNSELING</option>
        <option value="SCIENCE AND COMPUTER TEACHER EDUCATION">SCIENCE AND COMPUTER TEACHER EDUCATION</option>
        <option value="SECONDARY TEACHER EDUCATION">SECONDARY TEACHER EDUCATION</option>
        <option value="SOCIAL PSYCHOLOGY">SOCIAL PSYCHOLOGY</option>
        <option value="SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION">SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION</option>
        <option value="SOCIAL WORK">SOCIAL WORK</option>
        <option value="SOCIOLOGY">SOCIOLOGY</option>
        <option value="SOIL SCIENCE">SOIL SCIENCE</option>
        <option value="SPECIAL NEEDS EDUCATION">SPECIAL NEEDS EDUCATION</option>
        <option value="STATISTICS AND DECISION SCIENCE">STATISTICS AND DECISION SCIENCE</option>
        <option value="STUDIO ARTS">STUDIO ARTS</option>
        <option value="TEACHER EDUCATION: MULTIPLE LEVELS">TEACHER EDUCATION: MULTIPLE LEVELS</option>
        <option value="THEOLOGY AND RELIGIOUS VOCATIONS">THEOLOGY AND RELIGIOUS VOCATIONS</option>
        <option value="TRANSPORTATION SCIENCES AND TECHNOLOGIES">TRANSPORTATION SCIENCES AND TECHNOLOGIES</option>
        <option value="TREATMENT THERAPY PROFESSIONS">TREATMENT THERAPY PROFESSIONS</option>
        <option value="UNITED STATES HISTORY">UNITED STATES HISTORY</option>
        <option value="VISUAL AND PERFORMING ARTS">VISUAL AND PERFORMING ARTS</option>
        <option value="ZOOLOGY">ZOOLOGY</option>
    </select>
    <input type="submit" value="Select">
</form>
</div>
    <p>
        This is a page for you to choose majors and see economic/workforce data on them. Choose your perferred major and hit the sumbit button!
    </p>
    <h3>
        <u>
        Related Majors
        </u>
    </h3>
    <ul>
        {% for major in related_major %}
          <li>{{major}}</li>
        {% endfor %} 
      </ul>
</div>

<div class="column middle">
    {% include "SelectedMajorGraph/MajorWorkGraph.html" %}
    {% include "SelectedMajorGraph/MajorEconomicGraph.html" %}
</div>

{% endblock %}